<h1><% "#{@post.title}" %></h1>

<%= render 'shared/errors', resource: @comment %>

<p><%= link_to 'Create comemnt', new_post_comment_path(@post) %></p>

<table class="table">
    <tr>
      <th>Comments</th>
      <th>Actions</th>
    </tr>
  <% @comments.each do |comment| %>
    <tr>
      <td>
        <%= content_tag :span, comment.body, class: 'comment-body', data: { comment_id: comment.id } %>
      </td>
      </td>
  <% end %>
    </tr>
</table>
